.text-center{
    text-align: center;
}
.nav-height-blank{
    height: 48px;
    width: 100%;
}
.foot-height-blank{
    height: 50px;
    width: 100%;
}
.fa-back{
    padding-left: 10px;
    padding-top: 16px !important;
}

.nav-back-light{
    height: 48px;
    line-height: 48px;
    background: #2E8B57;
    color: white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: block;
    width: 100%;

}
.nav-back-span-light{
    padding-left: 6px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 10px;
    cursor: pointer;
}
.nav-back-span-light:hover{
    opacity: 0.8;
}

.tab-box{
    width: 100%;
    height: 50px;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    color: gray;
    text-align: center;
    /*line-height: 50px;*/
    overflow: hidden;
    box-shadow: lightgrey 0px -3px 5px;
}
.tab-txt{
    font-size: 12px;
    letter-spacing: 2px;
    height: 21px;
    width: 100%;
    float: left;
    display: block;

}
.fa{
    float: left;
    margin:0 auto;
    padding-top: 6px;
}
.tab-icon{
    font-size: 20px;
    font-weight: 700;
    height: 29px;
    width: 24px;
    /*float: left;*/
    /*display: block;*/
    text-align: center;
    /*display: inline-block;*/
    margin: 0 auto;
}
.tab-item{
    width: 33.33%;
    height: 50px;
    float: left;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
}
.tab-item:active{
    /*opacity: 0.7;*/
    font-size: 16px;
}
.tab-item:hover{
    opacity: 0.8;
    font-size: 16px;
}
.tab-item-active{
    color: #2E8B57;
    font-size: 16px;
}

.foot-tab-margin{
    /**/
    margin-bottom: 50px;

}

.hide{
    display: none;
}

.bg-white{
    background: white;
}
@media only screen and (max-width: 290px){
    body::after {
        width: 100%;
        height: 100%;
        line-height: 40px;
        content: "蠢货，屏幕宽度低于200px时，页面将无法正常查看";
        position: fixed;
        top: 0px;
        text-align: center;
        font-size: 20px;
        color: white;
        background: rgba(47, 79, 79, 0.9);
    }
}


.content{
    /*background: white;*/
}
@media only screen and (min-width: 290px) and (max-width: 700px) {
    .content{
        width: 100%;
        margin: auto;
    }
}
@media only screen and (min-width: 701px)  {
    .content{
        width: 700px;
        margin: auto;
        box-shadow: lightgrey 0px 4px 6px;
        /*margin-top: 30px;*/
    }

    .kd-video-title{
        box-shadow: #888888 0px 2px 3px;
        margin-bottom: 3px;
    }

    .form:nth-child(odd){
        /*奇异*/
        -ms-transform:rotate(7deg); /* IE 9 */
        -moz-transform:rotate(7deg); /* Firefox */
        -webkit-transform:rotate(7deg); /* Safari and Chrome */
        -o-transform:rotate(7deg); /* Opera */
        transform:rotate(7deg);
    }
    .form:nth-child(even){
        /*奇异*/
        -ms-transform:rotate(-8deg); /* IE 9 */
        -moz-transform:rotate(-8deg); /* Firefox */
        -webkit-transform:rotate(-8deg); /* Safari and Chrome */
        -o-transform:rotate(-8deg); /* Opera */
        transform:rotate(-8deg);
    }
    .bg-white{
        background: #191919;
    }

}

.clear{
    clear: both;
}
body{
    margin: 0;
    /*background: #696969;*/
}

.list-box{
    width: 100%;
    background: white;
    margin-bottom: 10px;
    box-shadow: lightgray 0px 4px 6px;
    cursor: pointer;

}
ul{
    margin: 0;
    padding: 0;
}
li{

    list-style: none;
}
a{
    text-decoration: none;
}
.list-box:hover{
    opacity: 0.8;
}
.list-left{
    width: 40%;
    float: left;
    background: #E4B9B9;
}
.list-img{
    width: 100%;
    min-height: 200px;
    float:left;
}
.list-right{
    width: 60%;
    float: left;
}
.list-txt{
    width: 100%;
}
.list-time{
    width: 100%;
}
.list-lan{
    width: 100%;
}
.div-txt{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: grey;
    text-indent: 0px;


}
.div-title2{
    height: 140px;
    font-size: 16px;
    color: #2F4F4F;
    line-height: 27px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.exp-head{
    color: grey;
    line-height: 20px;
    font-size: 14px;
    margin: 0px 0 10px 0;
    padding: 10px 10px;
    background: whitesmoke;
    box-shadow: lightgrey 0px 4px 6px;
}
.exp-foot{
    color: lightgrey;
    line-height: 20px;
    font-size: 10px;
    padding: 6px 10px;
    background: whitesmoke;
    /*box-shadow: lightgrey 0px 4px 6px;*/
}


a{
    list-style: none;
    text-decoration: none;
}
.prev{
    display: none;
    float: left;
}
.num , .current{
    font-size: 15px;
    width: 48px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    margin: 1px 3px;
    border: 1px solid rgba(240, 255, 240,0.9);
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 40%;
}
.num{
    color: grey;
    background: rgba(255,0,0,0.1);
}
.current{
    color: white;
    background: rgba(105,105,105,0.6);
}
.next{
    display: none;
}
.list-page div{
    text-align: left;
    display: inline-block;

}
.list-page{
    text-align: center;
    margin-top: 10px;
}
.back-btn{
    margin: 20px 10px 10px 10px;
    height: 36px;
    border-radius: 5px;
    background: grey;
    border: none;
    padding: 0 10px;
    color: whitesmoke;
    cursor: pointer;
}
.div-title{
    margin-top: 10px;
    font-size: 16px;
    color: lightgray;
    line-height: 27px;
    overflow: hidden;
    text-overflow:ellipsis;
    margin-bottom: 20px;
}
.span-txt{
    display: block;
    padding: 0px 10px;
}
.kd-video-title{
    height: 40px;
    font-size: 16px;
    text-indent: 10px;
    line-height: 40px;
    color: whitesmoke;
    /*box-shadow: #888888 0px 2px 3px;*/
    background: #363636;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media only screen and (min-width: 300px) and (max-width: 380px) {
    .list-page div{
        width: 280px;
    }
}
@media only screen and (min-width: 381px) and (max-width: 435px) {
    .list-page div{
        width: 336px;
    }
}
@media only screen and (min-width: 436px) and (max-width: 640px) {
    .list-page div{
        width: 400px;
    }
}
@media only screen and (min-width: 641px)  {
    .list-page div{
        width: 640px;
    }
}